<div style="height: 60px"></div>

<div class="submitPost">

  <h2>Submit to Rhaphorum</h2>

  <div class="instruct">
    <p>You're submitting a post - speak your mind. You must include a title. Expand upon your post with the optional text field!</p>
  </div>

  <div class="titleField">
    <h3>Title:</h3>
    <input ng-model="postTitle" maxlength="200" class = "titleText" type="text" name="title" placeholder="Title Goes Here...">
  </div>

  <div class="textField">
    <h3>Text: (optional)</h3>
    <textarea ng-model="postText" name="postText" maxlength="1100" placeholder="Text Goes Here..." rows="8" cols="80"></textarea>
  </div>

  <div class="submitField">
    <button ng-click="postNewThread()" class= "submitPostButton" type="button" name="button">Submit Your Post</button>
  </div>
</div>
