
<div class="inTheThread">
  <div class="threadDiv">

  <div class="threadTopper">


  <button type="button" ui-sref="forum" class = "flatRainbow backForum" name="toForum">Back To Forum</button>

<div class="ThreadInfo">
  <h1>{{thread.thread_title}}</h1>
  <p>submitted {{thread.timeAgo}} by <span class="threadmaker">{{thread.author_display}}</span></p>

  <div class="threadText">
    <pre>{{thread.thread_content}}</pre>
  </div>
</div>
<div class="star" ng-click="starThis(user_id, thread.thread_id)" ng-if="!starred">
  <i class="fa fa-star fa-6" aria-hidden="true"></i> <p>Star This Thread</p>
</div>

<div class="unstar" ng-click="unStarThis(user_id, thread.thread_id)" ng-if="starred">
  <i class="fa fa-star fa-6" aria-hidden="true"></i> <p>Unstar This Thread</p>
</div>

<button ng-click="reportThread(thread.thread_id)" type="button" name="reportthread" class = "reportThread">Report Thread</button>

</div>

<!-- <div class="commentCounter">
  <p>### of comments </p>
</div> -->



  <!-- <div class="selectedCommentOrder">
    <div class="currentOrder">
      <p>Sort By: <span>NEWEST</span></p>
    </div>


    <div class="commentOrderList">
      <li>OLDEST</li>
      <li>HOTTEST</li>
    </div>
  </div> -->





<div class="commentArea">



  <div class="newComment">
    <textarea rows="4" ng-model= "comment_content" placeholder="type a new, top level comment"></textarea>


    <button ng-click="addComment()" class="saveNewComment" type="submit" name="button">Post!</button>
  </div>


<div class="commentsJar">

<comments comment="comment" ng-repeat="comment in comments | orderBy: '-created_at'"></comments>





</div>

</div>

</div>
</div>
