<div style="height: 60px"></div>

<section class="fireTopper">
  <div class="fireHead">


    <div class="fireHeadImage">
        <img class = "jason" src="./app/images/fire/jason-fire.jpg" alt="jason fire devil sticks">
    </div>

    <div class="fireHeadText">
      <h1>Play With Fire</h1>
      <p>Rhapsody loves fire.</br>
      From fire spinning, to pyrotechnics, to building massive burnable structures - </br>
      We can't seem to get enough.</br>
      This love doesn't come without it's heartaches.</br>
      Please read though this page to ensure we have the safest</br>
      Experience possible with our fire artists.</br>
      If you plan on spinning fire yourself:</br>
      You must attend a safety workshop and have a wristband </br>
      Before lighting up.</br>
      All pyrotechnics must be registered and approved at the gate.</br>

      </p>
    </div>


  </div>
</section>

<section class="safety">


  <div class="safetyHead">
    <h2>Fire Safety Rules</h2>
    <h3>For Everyone Attending Rhapsody</h3>
  </div>

  <div class="safetyText">
    <p>1. Do not enter fire performance perimeters.</p>
    <p>2. No fire outside of fire performance perimeters.</p>
    <p>3. All equipment must be inspected and approved before performing.</p>
    <p>4. Absolutely no open fuel dumps. Sealed ammo cans only!</p>
    <p>5. At least one trained safety must be present for each performance.</p>
    <p>6. Gasoline must be kept in red gas cans.<p>
    <p>7. Absolutely no gasoline on any kind of fire. It's for generators only!<p>
    <p>8. No ground fires. Fire pits must be approved and have 10 ft of clearance.</p>
  </div>

</section>


<section class  = "fire">
  <div class="row performers">

  </div>

  <div class="row poofers">

  </div>
</section>
