
button.flatRainbow {
    width: 30%;
    padding: 15px 5px;
    background: #b6e3fb;
    color: #484848;
    border: 0;
    font-size: 1.5em;
    max-width: 200px;
    min-width: 118px;
  }

button.flatRainbow:hover {
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  background: black;
  cursor: url("../app/images/cursor.png"), auto;
  transition: .5s;
}




.updates {
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  padding: 5px;
  border-color: rgb(234, 216, 216);
}

.threadOuter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

  }

.threadOuter h2 {
    margin-top: 5px;
}

.threadsContainer {

  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  padding: 5px;
  border-color: rgb(234, 216, 216);

}


button.add-post {
    width: 108px;
    padding: 9px 5px;
    background: #b6e3fb;
    color: #484848;
    border: 0;
    font-size: 15px;
    margin-bottom: 11px;
    margin-top: 14px;

}

button.add-post:hover {
  cursor: pointer;
  background: black;
  -webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
  cursor: url("../app/images/cursor.png"), auto;

}

.searchThreads {
    /* float: left; */
    width: 100%;
}

.threadTitle h3 {
    font-size: 23px;
    transition: .5s;
    color: black;
}
.threadTitle h3:hover {
    cursor: pointer;
    transition: .5s;
    letter-spacing: .2px;
    color: grey;
}

.threadItem {
    margin: 9px 0 9px;
    display: flex;
    flex-direction: row;
}

.thread {
    padding: 4px;
}






/* new post page */

.submitPost {
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

.submitPost * {
  width: 100%;
  margin: 5px 0;
}

.submitPost h2 {
    padding: 8px 0 9px;
    border-bottom: #985757;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 13px;
}

.submitPost h3 {
    font-size: 2em;
}

.instruct {
    font-size: 12px;
}

input.titleText {
    font-size: 1.5em;
}

textarea {
    max-width: 100%;
}

h2 {
    padding: 17px;
}



button.submitPostButton {
  width: 30%;

  padding: 15px 5px;
  background: #b6e3fb;

  color: #484848;
  border-width: 0;
}

button.submitPostButton:hover {
  cursor: url("../app/images/cursor.png"), auto;
  background: black;
  -webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;


/*border: black;*/
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
/* up in the thread up up up up up ================= */
/* in thread */

.ThreadInfo {
    margin: 20px 0 14px;
    background: #efefef;
    padding: 7px;
    border-radius: 4px;
}

.inTheThread.ng-scope {
    padding: 8px;
}

.ThreadInfo h1 {
    font-size: 2em;
    padding-bottom: 2px;
}

.ThreadInfo p {
    font-size: 12px;

}

.threadText {
    margin-top: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #c19b9b;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    background: rgb(251, 251, 251);
}

.selectedCommentOrder {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.newComment {
    display: flex;
    flex-direction: column;
}

.newComment button {

  width: 150px;
  margin: 10px 0 10px;
  border-radius: 0;
  border: 0;
  padding: 7px;

}

.newComment button:hover {
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  background: black;
    cursor: url("../app/images/cursor.png"), auto;
}
.newComment textarea {
    width: 307px;
}

.commentInfo {
  display: flex;
}
a.expand {
    padding-right: 3px;
}
ul.flat-list.buttons {
    display: flex;
}



@media only screen and (min-width: 600px) {
    .threadsContainer {
        max-width:   75%;
    }
    .inTheThread.ng-scope {

}
    .searchThreads {
        max-width:   75%;
    }
}
