/*colors */
:root {
  --orange: #FFA168;
  --red: #ED1C24;
  --pink: #E376FF;
  --purple: #9C96E8;
  --blue:  #92D7FF;

}



/* CSS reset! */

tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end of reset! */



body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}
div#nav {
    height: 60px;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a#logolink {
    width: 60px;
}

#nav img {
    max-height: 81%;
    padding-top: 4px;
    padding-left: 6px;
}

.navMenu {
    display: none;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 100%;
    color: #92D7FF;
}
.menuItem {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 6px;
    font-size: 1.3em;
    font-weight: 700;
    transition: 1s;
}
.menuItem:hover {
    background: white;
    color: #9C96E8;
    transition: .5s;
    cursor: pointer;
}

.grab {
  float: right;
  height: 26px;

  width: 40px;
  margin: 17px;
  display: inline-block;
  }

  .bars {
    top: 5px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  }

.bar {
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 24px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left:100%;
  background: #ededff;
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
}
.show-mobile-menu {
  left: 0%;
  transition: .5s;
}

.mobile-menu-row {
  width: 100%;
  text-align: center;
  margin: 3px 0  ;
  background: #7fb9bd;
  border-width: 3px 0 3px;
  border-style: solid;
  border-color: #7cc7c7;
  transition: .3s;
  display: flex;
justify-content: center;
align-items: center;
}
.mobile-menu-row:hover {
    background: #75dec3;
    transition: .3s;
    letter-spacing: 4px;

}

.mobile-menu-row a {
    font-size: 2.5em;
    text-decoration: none;
    color: #ead7d7;
    width: 100%;
    color: #353333;

}

/*footer stuff */


.footerbits {
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    padding-bottom: 1em;
    background: rgba(156, 150, 232, 0.85);
}
.fb-icon {
    max-width: 67px;
    padding-right: 5px;

}

.footerNav li {
    padding: .5em;
    font-weight: 900;
    cursor: url("../app/images/cursor.png"), auto;
    transition: .4s;
}
.footerNav li:hover {
    letter-spacing: 2px;
    background: black;
    color: white;
    -webkit-transition: .4s time;
    -o-transition: .4s time;
    transition: .4s time;
}

.footerNav {
    display: flex;
    list-style: none;
    font-size: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}
.footerColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerRow {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
}


@media only screen and (min-width: 600px) {
    .grab {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
    .navMenu {
      display: flex;
      transition: 1s;
      margin-right: 15px;
    }

    .footerRow {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .footerNav {
      margin-top: 1em;
    }

}
