

section.right.ng-scope {
    padding: 2%;
}


.right h2 {
    margin-bottom: 14px;
}

.right p {

    font-size: 18px;
}

@media only screen and (min-width: 600px) {



}



/*FIRE VIEW                            asdfasdfasdfasdfasdf */
