
<head>

<title>Rhapsody Festival | Easter NC</title></head>
<link rel="stylesheet" href="forum-style.css">
<div class="threadOuter">

<h2>Rhaphorum - The Rhapsody Forum</h2>

<div class="newThreadContain">
  <button type="button" name="button">New Post</button>
</div>


  <div class="threadsContainer">

    <div class="threadslist">

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Is it safe to camp next to temple?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 2 hours ago by <a href="#" class="author">SparklePony666</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Where to register poofers?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 3 days ago by <a href="#" class="author">NyanGon</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Let's talk about parking for just a few minutes can we plz cause it's like really a an thing that i don't think you understand</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 20 mins ago by <a href="#" class="author">Pez</a></p>
            </div>
        </div>
      </div>
      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Is it safe to camp next to temple?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 2 hours ago by <a href="#" class="author">SparklePony666</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Where to register poofers?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 3 days ago by <a href="#" class="author">NyanGon</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Let's talk about parking for just a few minutes can we plz cause it's like really a thing that i don't think you understand</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 20 mins ago by <a href="#" class="author">Pez</a></p>
            </div>
        </div>
      </div>
      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Is it safe to camp next to temple?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 2 hours ago by <a href="#" class="author">SparklePony666</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Where to register poofers?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 3 days ago by <a href="#" class="author">NyanGon</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Let's talk about parking for just a few minutes can we plz cause it's like really a thing that i don't think you understand</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 20 mins ago by <a href="#" class="author">Pez</a></p>
            </div>
        </div>
      </div>
      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Is it safe to camp next to temple?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 2 hours ago by <a href="#" class="author">SparklePony666</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Where to register poofers?</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 3 days ago by <a href="#" class="author">NyanGon</a></p>
            </div>
        </div>
      </div>

      <div class="threadItem">
        <div class="thread">
          <div class="threadTitle">
            <h3>Let's talk about parking for just a few minutes can we plz cause it's like really a thing that i don't think you understand</h3>
          </div>
            <div class="threadAuthor">
              <p>submitted 20 mins ago by <a href="#" class="author">Pez</a></p>
            </div>
        </div>
      </div>




    </div>

  </div>

</div>
